.password {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
}
.passwordWrapper {
  height: 28.3px;
  margin: 0 !important;
  position: absolute;
  top: -28.3px;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px;
  box-sizing: border-box;
}
.passwordSpacing {
  border:0px;
  background-color: transparent;
  height: 44px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.passwordCaptchaInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: Inter;

}
@media screen and (max-width: 450px) {
  .password {
    font-size: 19px;
  }
}
